.list-toto-container {
    button {
        margin-left: 10px;
        &.bt-delete {
            color: red;
        }
    }
    .list-toto-content{
        width: 400px;
        margin: 0 auto;
        .todo-child {
            padding: 10px;
        }
    }
}